:root {
    --color-1: #FEF8EC;
    --color-2: #555358;
    --color-3: #2E282A;
    --color-4: #E55934;
    --color-5: #FA7921;

    --main-text: 'Nunito';
}

.range_container {
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: 30px auto;
}

.sliders_control {
    position: relative;
    min-height: 30px;
}

.form_control {
    position: relative;
    display: flex;
    justify-content: space-between;
    color: var(--color-2);

    margin-bottom: 12px;
}

input[type="range"] {
    -webkit-appearance: none;
    appearance: none;
    height: 3px;
    width: 300px;
    position: absolute;
    left: calc(50% - 300px / 2);

    background-color: #C6C6C6;
    pointer-events: none;
}
input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    pointer-events: all;
    width: 24px;
    height: 24px;
    background-color: var(--color-5);
    box-shadow: 0px 4.42079px 8.84158px rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    cursor: pointer;
}
input[type=range]::-moz-range-thumb {
    -webkit-appearance: none;
    pointer-events: all;
    width: 24px;
    height: 24px;
    background-color: #fff;
    border-radius: 50%;
    box-shadow: 0 0 0 1px #C6C6C6;
    cursor: pointer;
}
input[type=range]::-webkit-slider-thumb:hover {
    background: var(--color-4);
}

input[type="number"] {
    color: var(--color-3);
    background-color: var(--color-1);
    font-family: var(--main-text);
    width: 65px;
    height: 30px;
    font-size: 15px;
    padding: 5px;
    border: none;
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    opacity: 1;
}


#fromSlider {
    height: 0;
    z-index: 1;
}

.slider {
    padding-right: 0;
    padding-left: 0;
}